* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.App {
	display: flex;
	flex-direction: row;
	background-color: rgb(240, 240, 240);
	padding: 40px;
	margin: 70px;
}
.check-boxes-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}
form {
	border: 2px solid rgb(14, 15, 14);
	padding: 30px;
}
#price-input {
	width: 100%;
	margin: auto;
}
form input {
	padding: 5px 5px;
	background-color: rgb(245, 245, 245);
	border: 1px solid rgb(230, 230, 230);
}
.calculate-price-btn {
	padding: 5px 7px;
	cursor: pointer;
	width: 100%;
	margin: 5px auto;
	border: 1px solid black;
	border-radius: 2px;
}
.calculate-price-btn:hover {
	/* border: 1px solid rgba(29, 28, 28, 0.773); */
	background-color: white;
}
.App-header {
	/* background-color: white; */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	text-align: end;
	color: black;
}
.tax {
	display: flex;
	flex-direction: row;
	padding: 10px;
	/* border: 1px solid black; */
	justify-content: space-between;
}

.box {
	border: 2px solid rgb(14, 15, 14);
	padding: 7px;
	width: 200px;
}
#tax-input {
	width: 200px;
	margin: 0px 0px 10px 20px;
	padding: 5px 5px 5px 5px;
}
#maam-input {
	width: 200px;
	margin: 0px 0px 10px 0px;
	padding: 5px 5px 5px 0px;
}
